<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="text-center" style="background-color: #f1f1f1;">

  <div class="text-center p-3">
    2023 :
    <a class="text-dark" th:href="@{/}">Rss News</a>

    <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/oinuritto"
            role="button"
            data-mdb-ripple-color="dark">
      <i class="bi-github" role="img" aria-label="GitHub"></i>
    </a>
  </div>

</footer>
</body>
</html>