<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Include Header   -->
    <th:block th:replace="~{fragments/header :: head}"/>
    <title>Rss News</title>
</head>
<body>
<!-- Include navbar -->
<th:block th:replace="~{fragments/header :: navbar}"></th:block>


<div class="container">
    <div>
        <p>Something</p>
    </div>
</div>
<!--  Include footer-->
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>