<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Include Header   -->
    <th:block th:replace="~{fragments/header :: head}"/>
    <title>Rss News</title>
    <script defer type="text/javascript" th:src="@{/js/articles_likes.js}"></script>
</head>
<body>
<!-- Include navbar -->
<th:block th:replace="~{fragments/header :: navbar}"></th:block>


<div th:if="${articles.size() != 0}" class="container">
    <!-- Sorting -->
    <div class="dropdown mb-2 d-flex justify-content-center">
        <div class="btn-group me-2">
            <a th:href="@{/(isSorted=true)}" th:classappend="${isSorted} ? 'active' : ''"
               class="btn btn-secondary btn-sm">Sort by likes</a>
            <a th:href="@{/(isSorted=false)}" th:classappend="${not isSorted} ? 'active' : ''"
               class="btn btn-secondary btn-sm">Sort by date</a>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </button>
            <ul class="dropdown-menu categories" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" th:href="@{/(category='all')}">
                        All
                    </a>
                </li>
                <th:block th:each="category : ${categories}">
                    <li>
                        <a class="dropdown-item" th:href="@{/(category=${category.name})}" th:text="${category.name}">
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
    <!-- Sorting -->


    <th:block sec:authorize="isAuthenticated()">
        <input type="hidden" class="userId" th:id="${currentUser.id}">
    </th:block>
    <th:block th:each="article : ${articles}">
        <div class="card m-auto" style="width: 30rem;">
            <div th:if="${article.imageLink != null}">
                <img th:src="${article.imageLink}" class="card-img-top" th:alt="${article.title}">
            </div>
            <div class="card-body">
                <h4 class="card-title" th:text="${article.title}"></h4>
                <h6 class="card-subtitle mb-2 text-muted text-sm-end"
                    th:text="'Category: ' + ${article.category.name}"></h6>
                <h5 class="card-text" th:text="${article.description}"></h5>
                <h6 class="card-subtitle mb-2 text-muted text-sm-end" th:text="${article.pubDate}"></h6>
                <a th:href="${article.link}" class="btn btn-primary btn-sm">See more</a>
                <a th:href="${article.getSource().getSource()}" class="btn btn-primary btn-sm">Go to RSS source</a>
                <th:block>
                    <p th:id="'liked-article-' + ${article.id}" class="btn btn-link btn-floating btn-lg like-button"
                       role="button" data-mdb-ripple-color="dark">
                        <input type="hidden" class="article-ids" th:id="${article.id}">
                        <i th:id="'likedCount-article-' + ${article.id}" class="bi bi-hand-thumbs-up"
                           th:text="${article.likes.size()}"></i>
                        <input type="hidden" th:id="'ifLiked-article-' + ${article.id}" value="nonLiked">
                    </p>
                </th:block>
            </div>
        </div>
        <br>
    </th:block>

    <th:block th:replace="~{fragments/footer :: pagination(url = '')}"/>
</div>

<div th:if="${articles.size() == 0}" class="container d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Not found</h1>
        <p class="lead">
            You can add rss links and wait, while articles will be upload.
        </p>
        <a th:href="@{/rss}" class="btn btn-primary">Go to rss links</a>
    </div>
</div>

<!--  Include footer-->
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
