<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Include Header   -->
    <th:block th:replace="~{fragments/header :: head}"/>
    <title>Reset password</title>
</head>

<body>
<!-- Include navbar -->
<th:block th:replace="~{fragments/header :: navbar}"></th:block>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card mx-auto">
                <div class="card-header">
                    <h3 class="card-title">Forgot password</h3>
                    <div th:if="${message}" class="text-danger">
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div class="card-body">
                    <form th:action="@{/password/reset}" th:object="${passwordDto}" method="post">
                        <label class="form-label" for="newPassword">New Password</label>
                        <input class="form-control form-control-md" type="text" th:field="*{newPassword}" id="newPassword"
                               required/>
                        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-danger"></span>
                        <input type="hidden" name="token" id="token" th:value="${token}">

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Include footer-->
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
