<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!-- Include Header   -->
  <th:block th:replace="~{fragments/header :: head}"/>
  <title>Forgot password</title>
</head>

<body>
<!-- Include navbar -->
<th:block th:replace="~{fragments/header :: navbar}"></th:block>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="card mx-auto">
        <div class="card-header">
          <h3 class="card-title">Forgot password</h3>
          <div th:if="${message}" class="text-danger">
            <span th:text="${message}"></span>
          </div>
        </div>
        <div class="card-body">
          <form th:action="@{/password/forgot}" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
              <button type="submit" class="btn btn-primary">Forgot</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Include footer-->
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
